.pagination {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 0.375rem;
}

.pagination > li {
  padding: 0.5rem 0.75rem;
  transition: all 0.3s;
}

.pagination > li:focus,
.pagination > li:hover {
  border-color: #0071e3;
  background-color: #0071e3;
  color: #fff;
  cursor: pointer;
}
